@model IEnumerable<TravelPackage.Models.tpProducts>

@{
    IEnumerable<TravelPackage.Models.tpProducts> AddOns = (IEnumerable<TravelPackage.Models.tpProducts>)ViewBag.Addons;
}

<div class="jumbotron banner @ViewBag.Destination">
    <h1>Welcome to @ViewBag.Destination</h1>
    <p class="lead">@ViewBag.Description</p>
    
    <a class="btn btn-success rsv-call-btn rsv-call-text" href="tel:+639193812657">
        <img src="~/Images/Icons/call-white.png" width="18" class="prod-contact-icon" /><strong>Smart:</strong> (+63) 909-076-1575
    </a><br />

    <a class="btn btn-success rsv-call-btn rsv-call-text" href="tel:+639954508517">
        <img src="~/Images/Icons/call-white.png" width="18" class="prod-contact-icon" /><strong>Globe:</strong> (+63) 916-755-8473
    </a><br />

    <a class="btn btn-success rsv-call-btn rsv-call-text" href="mailto:travel.realbreeze@gmail.com" style="font-size:13px;">
        <img src="~/Images/Icons/email-white.png" width="18" class="prod-contact-icon" /><strong >Email:</strong> travel.realbreeze@gmail.com
    </a><br />

    <a class="btn btn-success rsv-call-btn rsv-call-text" href="tel:+63822971831">
        <img src="~/Images/Icons/landline-phone.png" width="18" class="prod-contact-icon" /><strong>LandLine:</strong> (+63) 82 333 5157
    </a><br />

    <p style="margin-top:10px;">
        <a href="https://api.whatsapp.com/send?phone=639167558473">
            <button class="btn btn-success">
                <img src="~/Images/Icons/whatsapp-original.png" width="25" /><br />
                <text style="font-size:8px;">WhatsApp</text>
            </button>
        </a>
        <a href="https://m.me/realbreezeCebu">
            <button class="btn btn-success">
                <img src="~/Images/Icons/fb-messenger-original.png" width="25" /><br />
                <text style="font-size:8px;">Messenger</text>
            </button>
        </a>
        <a href="viber://chat?number=639167558473">
            <button class="btn btn-success" style="padding:6px 14px;">
                <img src="~/Images/Icons/viber-original.png" width="25" /><br />
                <text style="font-size:8px;">Viber</text>
            </button>
        </a>
        <a href="line://oaMessage/realbreeze/">
            <button class="btn btn-success" style="padding:6px 14px;">
                <img src="~/Images/Icons/line-original.png" width="25" /><br />
                <text style="font-size:8px;">Line</text>
            </button>
        </a>
    </p>

    <a>
        @Html.ActionLink("Choose another destination", "Index", new { option = 1 }, new { @class = "btn btn-primary btn-lg" })
    </a>
</div>
<div class="breadcrumbs10" style="background-color: #eeeeee;">
    <p>&raquo;
    @Html.ActionLink("HOME", "Index", new { option = 0 }, new { @class = "btn btn-primary btn-sm" })
    @Html.ActionLink("DESTINATIONS", "Index", new { option = 1 }, new { @class = "btn btn-primary btn-sm" })
    @ViewBag.Destination&raquo;
    </p>
</div>

    <div class="row">

        @foreach (var item in Model)
        {
            <text>
            <div class="col-md-4" style="padding:10px;">
                <h2>@item.Name</h2>
                <a href="@Url.Action("Product", new { id = @item.Id, ProductName = @item.Name })" title="@item.Name"><img width="100%" height="250" src="@item.PgFeatureImg"></a>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">@item.ShortRemarks</p>
                <p>
                    @Html.ActionLink("More...", "Product", new { id = @item.Id, ProductName = @item.Name }, new { @class = "btn btn-default" })

                </p>
            </div>
         </text>
        }
        
    </div>

<div class="row">
    @foreach (var item in AddOns)
    {
        <div class="col-md-2">
            <span style="font-weight:600;">@item.Name</span>
            <div style="width:100%;height:150px;background-color:aliceblue;background-image:url(@item.PgFeatureImg);background-size: cover; background-repeat:no-repeat">&nbsp;</div>
            <p>@item.ShortRemarks</p>
            <p>
                @Html.ActionLink("More...", "Product", new { id = @item.Id, ProductName = @item.Name.Replace("&", "") }, new { @class = "btn btn-default" })

            </p>
        </div>
    }
</div>

<!-- Add Site Descriptions here -->
    <!-- 
    Use Switch to handle different destination's descriptions.
    Does not work when Viewbag is inside the RenderPArtial
    -->
@{
    string dest = ViewBag.Destination;
    switch (dest)
    {
        case "MALAYSIA":
            Html.RenderPartial("MalaysiaPackages/PartialViewMalaysia");
            break;
        case "CEBU":
            Html.RenderPartial("CebuPackages/PartialViewCebu");
            break;
    }

}

