@model IEnumerable<TravelPackage.Models.tpAreas>

@{
    ViewBag.metaTitle = "ZeeIT Technologies";
    ViewBag.metaDescription = "IT Software Services";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="jumbotron">
    <h1>ZeeIT Technologies</h1>
    <p>Software Services</p>
</div>

@*<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <h2>@item.Name</h2>
            <a href="@Url.Action("Destination",new { id = @item.Id, AreaName = @item.Name })" title="@item.Name"><img width="100%" src="@item.PgFeatureImg"></a>

            <p>@item.PageRemarks</p>
            <p>
                @Html.ActionLink("GO TO " + @item.Name + " >>", "Destination", new { id = @item.Id, AreaName = @item.Name }, new { @class = "btn btn-default" } )

            </p>
        </div>
    }

</div>*@


<div class="container">
    <h2>SERVICES</h2>
    <div class="row">
        <div class="col-sm-6">
            <div class="col-sm-3">
                <img src="~/Images/icons/software.png">
                </div>
            <div class="col-sm-9">
                <h3>Software Development</h3>
                <p>
                    We develop unique and tailored software applications
                    based on the needs of our partners. Our applications
                    provide the best experience in Desktop, Mobile and Web.
                </p>
            </div>
        </div>


        <div class="col-sm-6">
            <div class="col-sm-3">
                <img src="~/Images/icons/web.png">
            </div>
            <div class="col-sm-9">
                <h3>Web Development</h3>
                <p>
                    We use the latest technologies in building websites
                    for our partners. We will handle design,development,
                    deployment and maintenance that are compatible in every device.
                </p>
            </div>
        </div>


        <div class="col-sm-6">
            <div class="col-sm-3">
                <img src="~/Images/icons/automation.png">
            </div>
            <div class="col-sm-9">
                <h3>Industrial & Home Automation</h3>
                <p>
                    Our team finds the best way to solve problems and automate
                    processes in your home or business.
                </p>
            </div>
        </div>


        <div class="col-sm-6">
            <div class="col-sm-3">
                <img src="~/Images/icons/software.png">
            </div>
            <div class="col-sm-9">
                <h3>IT Consultation</h3>
                <p>
                    We will help you decide and solve business problems.
                    Our consultants will find the best solution using the
                    best technology available in the market.

                </p>
            </div>
        </div>

    </div>
</div>

<!--Projects-->
<div class="container-fluid">
    <h1>Projects</h1>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div style="width:auto" class="col-sm-3">
                </div>

                <div class="col-sm-9">
                    <h3>Laboratory Information System</h3>
                    <p>
                        Manages the scheduling and updates of
                        laboratory appointments with automated
                        SMS System to notify all contact persons.
                    </p>
                </div>
            </div>
        </div>


        <div class="col-sm-12">
            <div class="row">

                <div style="width:auto" class="col-sm-3">
                </div>

                <div class="col-sm-9">
                    <h3>Inventory System</h3>
                    <p>
                        A customized Inventory System that handles the 
                        products of the company and provide updates to 
                        the company branches and offices.

                    </p>
                </div>
            </div>
        </div>


        <div class="col-sm-12">
            <div class="row">

                <div  style="width:auto" class="col-sm-3">
                </div>

                <div class="col-sm-9">
                    <h3>Realbreeze Website Project</h3>
                    <p>
                        Realbreeze Travel and Tours website.

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1>About Us</h1>
    <div class="row">
        <div class="col-sm-3">
          
        </div>

        <div class="col-sm-9">
            <h3>Contact Information</h3>
            <p>
                

            </p>
        </div>
    </div>
</div>
