@model IEnumerable<TravelPackage.Models.tpAreas>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Philippine Travel Packages</h1>
    <p class="lead">Bringing you to the land of Eagles, Durian, Mt Apo.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <h2>@item.Name</h2>
            <a href="http://realbreezedavaotours.com/TourPackages/samal-inland-package-tour/" title="Samal Tour (Inland)"><img width="100%" src="@item.PgFeatureImg"></a>
            <p>@item.PageRemarks</p>
            <p>
                @Html.ActionLink("GO TO " + @item.Name + " >>", "Destination", new { id = @item.Id }, new { @class = "btn btn-default" } )

            </p>
            <p>
                @Html.DisplayFor(modelItem => item.PageView)
            </p>
        </div>
    }

</div>