@model TravelPackage.Models.tpProducts

@{
    ViewBag.Title = "Product";
    string sArea = ViewBag.DestName;
    string pgView = Model.PageView;

    List<TravelPackage.Models.tpProductImages> productImages = (List<TravelPackage.Models.tpProductImages>)ViewBag.ProdImages;
    TravelPackage.Models.WebInquiryForm InquiryObj = (TravelPackage.Models.WebInquiryForm)ViewBag.Inquiry;
}

<div class="breadcrumbs10" style="background-color: #eeeeee;">
    <p>
        &raquo;
        @Html.ActionLink("HOME", "Index", null, new { @class = "btn btn-primary btn-sm" })
        @Html.ActionLink("DESTINATIONS", "Index", null, new { @class = "btn btn-primary btn-sm" })
        @Html.ActionLink(@sArea, "Destination", new { id = ViewBag.DestId, AreaName = sArea }, new { @class = "btn btn-primary btn-sm" })
        @Model.Name&raquo;
    </p>
</div>

<div class="row">
    <div class="col-md-10">
        <h1>@Model.Name</h1>
        <p class="lead">@Model.ShortRemarks</p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        @{ Html.RenderPartial(pgView, Model); }
    </div>
    <div class="col-md-6">
        @{ Html.RenderPartial("ProductInquiry", InquiryObj); }
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        @{ Html.RenderPartial("productImages", productImages); }
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "Destination", new { id = ViewBag.DestId, AreaName = sArea })
</p>


@section scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $('#btnSubmit1').attr('disabled',true);
            $('#btnSubmit2').attr('disabled',true);

            InitDatePicker();
            initFieldEvents();
        })


        function InitDatePicker() {

            $('input[name="JobStart"]').daterangepicker(
            {
                singleDatePicker: true,
                showDropdowns: true,
                locale: {
                    format: 'MM/DD/YYYY'
                }
            },
            function (start, end, label) {
                //alert(start.format('YYYY-MM-DD h:mm A'));
                //computeCost();
            }
            );
        }

        function initFieldEvents()
        {
            $('#LeadGuest').on('change', function () {
                checkvalues();
            });
            $('#NoOfAdult').on('change', function () {
                checkvalues();
            });
            $('#Email').on('change', function () {
                checkvalues();
            });

        }

        function checkvalues()
        {
            var isOK = 0;

            var leadguest = $('#LeadGuest').val();
            if (leadguest.trim().length > 0) isOK = 1;
            else isOK = 0;

            if (isOK == 1) {
                var NoAdults = $('#NoOfAdult').val();
                if (NoAdults > 0) isOK = 1;
                else isOK = 0;
            }

            if (isOK == 1) {
                var email = $('#Email').val();
                if (leadguest.trim().length > 0) {
                    if (ValidateEmail(email)) isOK = 1;
                    else isOK = 0;
                }
                else isOK = 0;
            }


            if (isOK) {
                $('#btnSubmit1').removeAttr('disabled');
                $('#btnSubmit2').removeAttr('disabled');
            }
            else
            {
                $('#btnSubmit1').attr('disabled', true);
                $('#btnSubmit2').attr('disabled', true);
            }
            
        }

        function ValidateEmail(mail)
        {
            
            var x = mail;
            var atpos = x.indexOf('@@');
            var dotpos = x.lastIndexOf(".");
            if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length) {
                alert("Not a valid e-mail address");
                return (false);
            }
            
            return (true);
        }

    </script>
}
