
@{
    ViewBag.Title = "RequestQuote";
    IEnumerable<TravelPackage.Models.tpProducts> AddOns = (IEnumerable<TravelPackage.Models.tpProducts>)ViewBag.Addons;
    IEnumerable<TravelPackage.Models.tpInqServices> AddedProducts = (IEnumerable<TravelPackage.Models.tpInqServices>)ViewBag.Added;
}
<div class="container">

    <h2>Quotation Request</h2>
    <p>Ref No: @ViewBag.RefNo </p>
    <p>
        Dear Customer:
        <br />
        <br />Your request is now being processed in our system.
        <br />We will contact you to as soon as possible. For other inquiries and
        <br /> concerns you can email us at travel.realbreeze@gmail.com
    </p>

    <p>
        --- Requested Products ---
    </p>
    @foreach (var item in AddedProducts)
    {
        <p>
            <span>-@item.dtSvcStart.ToString("dd/MMM/yyyy")</span>
            <span>-@item.tpProduct.Name</span>
        </p>
    }
    <p>
        --- End of list ---
    </p>
    <p>
        <br /> Rgds!
        <br /> Sales Team
        <br /> RealBreeze Travel and Tours
        <br />
    </p>

    <div class="row" style="background-color: #eeeeee;">
        <h2>Other Products</h2>
    </div>

    <div class="row">
        @foreach (var item in AddOns)
        {
            <div class="col-md-2">
                <h4>@item.Name</h4>
                <a href="http://realbreezedavaotours.com/TourPackages/samal-inland-package-tour/" title="@item.Name"><img width="100%" src="@item.PgFeatureImg"></a>
                <p>@item.ShortRemarks</p>
                <p>
                    @Html.ActionLink("Add to Request", "AddRequestProduct", new { id = @item.Id }, new { @class = "btn btn-default" })
                </p>
            </div>
        }
    </div>


    @Html.ActionLink("Back", "Index")



</div>